:root {
	--text: #000;
	--bg: #fff;
	--icon: purple;
}

html,
body {
	font-family: "Courier";
	background-color: var(--bg);
	color: var(--text);
	margin: 15;
	font-size: 1.2em;
}

h1 {
	text-align: center;
}

@media (prefers-color-scheme: dark) {
	:root {
		--text: #fff;
		--bg: #000;
		--icon: pink;
	}
}
